# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Logs
pnpm-debug.log*
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Project specific
tmp/
.temp/
prisma/dev.db
prisma/dev.db-journal
